<div class="h">//currentDuration:</div>
<div *ngIf="currentDuration$ | async as currentDuration">
  <div class="h2">
    <pre>{{ currentDuration | json }}</pre>
  </div>

  <!-- <pre>{{ selectorDurations$ | async | json }}</pre> -->
  <div *ngIf="selectorDurations$ | async as selectorDurations">
    <div class="h2">
      <div class="h">//selectorDurations:</div>
      <pre>{{ selectorDurations | json }}</pre>
    </div>
    <form [formGroup]="durationsForm">
      <mat-form-field class="full-width">
        <mat-select
          [value]="currentDuration"
          placeholder="durations"
          formControlName="durations"
        >
          <mat-option
            *ngFor="let duration of selectorDurations"
            [value]="duration"
          >
            {{ duration }}
          </mat-option>
          <!-- <mat-option
          *ngFor="let duration of durations.insuranceDetails[0].insurances"
          [value]="duration.duration"
        >
          {{ duration.duration }}
        </mat-option> -->
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>

<div class="divider"></div>

<!-- <button mat-raised-button (click)="openDialog()">category dialog</button> -->
