<ng-container *ngIf="productDurations$ | async as productDurations">
  <ng-container *ngIf="categoryState$ | async as categoryState">
    <ng-container *ngIf="durationState$ | async as durationState">
    </ng-container>
    <form [formGroup]="durationsForm">
      <mat-form-field>
        <mat-select
          placeholder="category-durations"
          formControlName="durations"
          [value]="categoryState"
        >
          <mat-option
            *ngFor="let duration of productDurations"
            [value]="duration"
          >
            {{ duration }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div class="divider"></div>

    <button mat-raised-button (click)="openDialog()">dialog</button>
  </ng-container>
</ng-container>
