<div class="h">//selectorDurations:</div>
<div *ngIf="selectorDurations$ | async as selectorDurations">
  <div class="h2">
    <pre>{{ selectorDurations | json }}</pre>
  </div>
  <form [formGroup]="durationsForm">
    <mat-form-field class="full-width">
      <mat-select placeholder="durations" formControlName="durations">
        <mat-option
        *ngFor="let duration of selectorDurations"
        [value]="duration"
      >
        {{ duration }}
      </mat-option>
        <!-- <mat-option
          *ngFor="let duration of durations.insuranceDetails[0].insurances"
          [value]="duration.duration"
        >
          {{ duration.duration }}
        </mat-option> -->
      </mat-select>
    </mat-form-field>
  </form>
</div>
