<div class="container">
  <div class="card" *ngFor="let category of categories; index as id">
    <div class="title">{{ category.categoryName }}</div>
    <div class="content">
      <category-detail
        *ngFor="let detail of category.insuranceDetails"
        [detail]="detail"

      ></category-detail>

      <div class="divider"></div>

      <ng-container *ngIf="categories">
        <button mat-raised-button (click)="openDialog()">category dialog</button>
        <!-- <div>cats: <pre>{{ categories | json }}</pre></div> -->
        <category-durations
          [plu]="plu"
          [durations]="categories[id]"
          [category]="category"
        ></category-durations>
      </ng-container>

      <ng-container *ngIf="payments$ | async as payments">
        <!-- <div class="help">
          <b>//TODO: payments[{{ id }}]:</b>
          <pre>{{ payments[id] | json }}</pre>
        </div>
        <div class="divider"></div>
        <category-payments
          [payments]="payments[id]"
          [currentDuration]="currentDuration"
        ></category-payments> -->
      </ng-container>

      <!-- <ng-container *ngIf="_durationsValues.length">
        <div class="select">
          <form [formGroup]="_durationsForm">
            <mat-form-field class="full-width">
              <mat-select placeholder="durations" formControlName="durations">
                <mat-option
                  *ngFor="let duration of _durationsValues"
                  [value]="duration"
                >
                  {{ duration }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
      </ng-container> -->
    </div>
  </div>
</div>
