<div class="container">
  <div class="card" *ngFor="let category of categories; index as id">
    <div class="title">{{ category.categoryName }}</div>
    <div class="content">
      <category-detail
        *ngFor="let detail of category.insuranceDetails"
        [detail]="detail"
      ></category-detail>

      <div class="divider"></div>

      <button mat-raised-button (click)="openDialog()">category dialog</button>

      <div class="divider"></div>

      <ng-container *ngIf="categories">
        <!-- <div>cats: <pre>{{ categories | json }}</pre></div> -->
        <category-durations
          [plu]="plu"
          [durations]="categories[id]"
          [category]="category"
        ></category-durations>
      </ng-container>

      <ng-container *ngIf="payments$ | async as payments"> </ng-container>
    </div>
  </div>
</div>
