.container {
  display: flex;
  justify-content: space-around;
}

.select0 {
  display: none;
  // visibility: hidden;
}

.card {
  border: 1px solid dodgerblue;
  border-radius: 5px;
  margin: 5px;
  max-width: 50vw;
  min-width: 25vw;

  .title {
    background-color: dodgerblue;
    margin: 0 0 10px;
    padding: 5px;
  }

  .content {
    padding: 10px;

    .select {
      border: 5px dotted magenta;

    }

  }
}



.mat-card {
  margin: 5px;
  background-color: rgba(255, 68, 0, 0.2);
  max-width: 50vw;
  min-width: 25vw;

  .mat-card-title {
    // border: 2px dotted dodgerblue;
    border-radius: 5px;
    background-color: dodgerblue;
    padding: 5px;
    // margin: 0 0;
  }
}
