.container {
  margin: 5px;
  padding: 5px;

  .product {
    border: 1px solid dodgerblue;
    border-radius: 15px;
    margin: 15px 0;

    .header {
      font-size: larger;
      border: 1px so dodgerblue;
      border-top-right-radius: 15px;
      border-top-left-radius: 10px;
      background-color: rgba(30, 143, 255, 0.623);
      font-weight: 700;
      display: flex;
      justify-content: center;
      padding: 5px 0 5px;
    }

    .categories {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin: 10px;

      .category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 1px dotted dodgerblue;
        min-width: 150px;

        .name {
          display: flex;
          justify-content: center;
          background-color: yellow;
          width: 100%;
        }

        .duration {
          padding: 10px;

          .amount {
            display: flex;
            justify-content: center;
            background-color: yellowgreen;
          }
        }
      }
    }
  }
}
