<div *ngIf="selectorDurations$ | async as selectorDurations">
  <form [formGroup]="durationsForm">
    <mat-form-field class="full-width">
      <mat-select placeholder="cat-durs work" formControlName="durations">
        <mat-option
          *ngFor="let duration of selectorDurations"
          [value]="duration"
        >
          {{ duration }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="divider"></div>

  <button mat-raised-button (click)="openDialog()">category dialog</button>
</div>
